.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

ansible.cfg
*.retry
gce.*
credentials.json

*.sh
rhbrlab-bot

# keycloak client
.keycloak
!admin-assets/workshop/*.sh
